<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">合同管理</h1>
</div>
<div class="wrapper-md" ng-controller="FormUserContractCtrl">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      增加／编辑
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="get">
        <div id="templateselect" class="form-group">
          <label class="col-sm-2 control-label">模版选择</label>
          <div class="col-sm-10">
            <select id="template" ui-jq="chosen" class="w-md">
              <option id="templatetmp" value="">请选择一个合同模版</option>
            </select>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div id="companyselect" class="form-group">
          <label class="col-sm-2 control-label">甲方公司选择</label>
          <div class="col-sm-10">
            <select id="company" ui-jq="chosen" class="w-md">
              <option value="TD">天津泰达绿化集团有限公司</option>
              <option value="LZ">天津绿洲园林有限公司</option>
              <option value="SJ">天津泰达园林规划设计院有限公司</option>
              <option value="YJ">天津泰达盐碱地绿化研究中心有限公司</option>
              <option value="YY">天津泰达园艺有限公司</option>
              <option value="HA">天津市海岸盐碱地生态绿化工程有限公司</option>
              <option value="GC">天津滨海绿化工程管理有限公司</option>
              <option value="YH">天津滨海新区绿化养护管理有限公司</option>
              <option value="TF">天津泰丰公园管理有限公司</option>
            </select>
          </div>
        </div>
        <div id="contractcontent">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-id-1">合同编号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contractno" value="自动生成" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-id-1">合同名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contractname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-id-1">合同对方名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="otherpartyname">
            </div>
          </div>
          <div id="textinput" class="form-group">
            <label class="col-sm-2 control-label" for="input-id-1">甲方单位名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-id-1">
            </div>
          </div>
          <div id="rtfinput" class="form-group">
            <label class="col-sm-2 control-label">Wysiwyg</label>
            <div class="col-sm-10">
              <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
                <div class="btn-group dropdown" dropdown>
                  <a class="btn btn-default" dropdown-toggle tooltip="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li>
                    <li><a href data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
                    <li><a href data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li></ul>
                </div>
                <div class="btn-group dropdown" dropdown>
                  <a class="btn btn-default" dropdown-toggle data-toggle="dropdown" tooltip="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href data-edit="fontSize 5" style="font-size:24px">Huge</a></li>
                    <li><a href data-edit="fontSize 3" style="font-size:18px">Normal</a></li>
                    <li><a href data-edit="fontSize 1" style="font-size:14px">Small</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default" data-edit="bold" tooltip="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                  <a class="btn btn-default" data-edit="italic" tooltip="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                  <a class="btn btn-default" data-edit="strikethrough" tooltip="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                  <a class="btn btn-default" data-edit="underline" tooltip="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default" data-edit="insertunorderedlist" tooltip="Bullet list"><i class="fa fa-list-ul"></i></a>
                  <a class="btn btn-default" data-edit="insertorderedlist" tooltip="Number list"><i class="fa fa-list-ol"></i></a>
                  <a class="btn btn-default" data-edit="outdent" tooltip="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                  <a class="btn btn-default" data-edit="indent" tooltip="Indent (Tab)"><i class="fa fa-indent"></i></a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default" data-edit="justifyleft" tooltip="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                  <a class="btn btn-default" data-edit="justifycenter" tooltip="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                  <a class="btn btn-default" data-edit="justifyright" tooltip="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                  <a class="btn btn-default" data-edit="justifyfull" tooltip="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default" data-edit="undo" tooltip="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                  <a class="btn btn-default" data-edit="redo" tooltip="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                </div>
              </div>
              <rtfinput ui-jq="wysiwyg" class="form-control" style="overflow:scroll;height:200px;max-height:200px">

              </rtfinput>
            </div>
          </div>
          <div id="dyncontent">

          </div>
          <!--
          <div id="dateinput" class="form-group">
            <label class="col-sm-2 control-label">合同开始日期</label>
            <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
              <div class="input-group w-md">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </div>
            </div>
          </div>
          -->
          <!--
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">生成合同审批表</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label class="i-checks">
                  <input type="checkbox" value="">
                  <i></i>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="xxxx审批表.xls" disabled>
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">查看</button>
              </span>
              </div>
            </div>
          </div>
          -->
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <label class="col-sm-2 control-label">合同附件上传</label>
            <div class="col-sm-10">
              <input id="contractfile" ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
            </div>
          </div>

          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <!--<button id="previewbutton" type="submit" class="btn btn-default">预览</button>-->
              <!--<button id="bigmoneychange" type="submit" class="btn btn-info">大写金额变化</button>-->
              <button id="savebutton" type="submit" class="btn btn-primary">保存</button>
              <button id="submitbutton" type="submit" class="btn btn-info">提交</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>